body {
  font-family: sans-serif;
  margin: 20px;
  padding: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.board-square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}

.option-square {
  background: #0f0;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: 20px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 54px;
}

.board-row:after {
  clear: both;
  content: '';
  display: table;
}

.game {
  display: flex;
  flex-direction: row;
}

.status {
  margin-top: 70px;
  margin-bottom: 10px;
}

.green {
  background-color: rgb(53, 225, 53);
  /* Add any other green styles here */
}

.red {
  background-color: red;
  /* Add any other red styles here */
}

.game-back {
  background: #999;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: 20px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 64px;
}